{% extends '::layout.html.twig' %}

{% block title "Editar Orden de Producción" %}
{% form_theme form 'PBInicioBundle:Form:fields.html.twig' %}
{% block width100 "widthtotal" %}{% block displaysidebar "display:none;" %}
{% block content %}

<div class="title title-spacing produccion"><h2>Editar Orden de Producción</h2></div>
        	{% include 'PBProduccionBundle:Orden:form.html.twig' with { 'form' : form } %}
	<div class="clearfix"></div>
    <div class="float-left volver">
        <a href="{{ path('orden') }}">
          <<  {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
</div>

		{% include 'PBVentasBundle:Cliente:js_get_cliente.html.twig' %} 
<script>
getNombrecliente();
        	</script>
{% endblock %}