{% extends '::layout.html.twig' %}

{% block title "Orden de Fabricación" %}

{% block width100 "widthtotal" %}{% block displaysidebar "display:none;" %}
{% block content %}
<div class="title title-spacing produccion"><h2>Orden de Fabricación</h2></div>
	{% include 'PBProduccionBundle:Orden:vista.html.twig' with { 'entity' : entity } %}

    <div class="float-left volver">
        <a href="{{ path('orden') }}">
          <<  {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <ul class="ui-widget ui-helper-clearfix botones-abajo">
      <li class="ui-state-default ui-corner-all imprimir" style="float:left;"><a class="btn" href="{{ path('orden_edit', { 'id': entity.id }) }}"><span class="ui-icon ui-icon-wrench"></span> Editar </a> </li>
    <li class="ui-state-default ui-corner-all imprimir" style="float:left;"><a class="btn" href="{{ path('orden_print', { 'id': entity.id }) }}"><span class="ui-icon ui-icon-print"></span> Imprimir </a> </li>
   </ul>
 
{% endblock %}