{% extends '::layout.html.twig' %}

{% block title 'Factura' %}

{# block width100 "widthtotal" %}{% block displaysidebar "display:none;" #}
{% block content %}
<div class="title title-spacing ventas"><h2>Factura</h2></div>
{% include 'PBVentasBundle:Factura:vista.html.twig' with { 'entity' : entity } %}
<div class="clearfix"></div>
<div><br />
    <div class="volver float-left">
        <a href="{{ path('factura') }}"> <<  {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</a></div>
    <ul class="ui-widget ui-helper-clearfix botones-abajo">
    <li class="ui-state-default ui-corner-all imprimir" style="float:left;"><a class="btn" href="{{ path('factura_print', { 'id': entity.id , _format: "pdf" }) }}"><span class="ui-icon ui-icon-print"></span> Imprimir </a> </li>
    <li class="ui-state-default ui-corner-all editar" style="float:left;"><a class="btn" href="{{ path('factura_preedit', { 'id': entity.id }) }}"><span class="ui-icon ui-icon-wrench"></span> Editar </a> </li>
    </ul>
</div>
{% endblock %}