{% extends '::layout_ajax.html.twig' %}

{% block title 'Factura' %}

{# block width100 "widthtotal" %}{% block displaysidebar "display:none;" #}
{% block content %}
<div id="lightbox-wrapper">
<div class="title title-spacing ventas"><h2>Factura</h2></div>
{% include 'PBVentasBundle:Factura:vista.html.twig' with { 'entity' : entity } %}
<div class="clearfix"></div>
</div>
{% endblock %}