{% extends '::layout.html.twig' %}

{% block title "Nuevo Presupuesto" %}
{% form_theme form 'PBInicioBundle:Form:fields.html.twig' %}
{% block width100 "widthtotal" %}{% block displaysidebar "display:none;" %}
{% block content %}
<div class="title title-spacing ventas"><h2>Nuevo Presupuesto</h2></div>

	{% include 'PBVentasBundle:Presupuesto:form.html.twig' with { 'form' : form } %}
          	
	<div class="clearfix"></div>
    <div class="float-left volver">
        <a href="{{ path('presupuesto') }}">
          <<  {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
		{% include 'PBVentasBundle:Cliente:js_get_cliente.html.twig' %} 

{% endblock %}