{% extends '::layout.html.twig' %}

{% block title "Extrusion" %}

{% block content %}
<script type="text/javascript">
<!--
// http://fancybox.net/api
$(document).ready(function() { 
	$("a.iframe-extrusion").fancybox({
		'hideOnContentClick': false,
		'width': 650,
		'height': 500,
		'scrolling': 'yes',
		'transitionIn': 'elastic',
		'modal': false,
		'onClosed': function() {
			window.location.reload();
		 }
	});
});
//-->
</script>
<div id="orden">
	<div class="title title-spacing produccion"><h2>Extrusion</h2></div>        
 <div class="maquinaextrusion">   
	 <!--  <div class="btn-nuevo"><a rel="prettyPhoto[iframe]" href="{{ path('anadir_trabajo', { 'iframe': 'true', 'width': 800, 'height': 500 }) }}" class="btn ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plusthick"></span>A単adir Trabajo</a></div> -->
	 <div class="btn-nuevo"><a class="iframe-extrusion btn ui-state-default ui-corner-all" href="{{ path('anadir_trabajo') }}"><span class="ui-icon ui-icon-plusthick"></span>A単adir Trabajo</a></div>
	 
	 <div class="clearfix"></div>
	 <div class="tablesup"><h6>E1 - Iba単ez</h6></div>
	 {% include 'PBProduccionBundle:Extrusion:tabla.html.twig' with { 'entities' : tabla1 } %}
 </div>
 
 <div class="maquinaextrusion">
	 <div class="btn-nuevo"><a class="btn ui-state-default ui-corner-all" href=""><span class="ui-icon ui-icon-plusthick"></span>A単adir Trabajo</a></div>
	 <div class="clearfix"></div>
	 <div class="tablesup"><h6>E2 - COVEX 75</h6></div>
	 {% include 'PBProduccionBundle:Extrusion:tabla.html.twig' with { 'entities' : tabla2 } %}   
 </div>

</div>
   {% endblock %}