<div class="hastable">
    	<table class="records_list">
    		<thead> <tr>
		            <th width="25">Código Orden</th>
		            <th>Ancho</th>
		            <th>Galga</th>
		            <th>Metros</th>
		            <th>Plegado</th>
		            <th>Material</th>
		            <th>Color</th>
		            <th>Peso Teórico</th>
		            <th>Cliente</th>
		            <th width="100">{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
		        </tr>
		    </thead>
		    <tbody>
		    {# for entity in entities #}

		    {# endfor #}
		    </tbody>
		</table>
    </div>