{% extends '::layout.html.twig' %}

{% block content %}
				<div class="page-title ui-widget-content ui-corner-all">
					<h1>Administration Options</h1>
					<div class="other">

						<ul id="dashboard-buttons">
							<li>
								<a href="#" class="Book_phones tooltip" title="Book phones">
									Book phones
								</a>
							</li>
							<li>
								<a href="#" class="Books tooltip" title="Books">
									Books
								</a>

							</li>
							<li>
								<a href="#" class="Box_recycle tooltip" title="Box recycle">
									Box recycle
								</a>
							</li>
							<li>
								<a href="#" class="Books tooltip" title="Books">
									Books
								</a>

							</li>
							<li>
								<a href="#" class="Box_content tooltip" title="Box content">
									Box content
								</a>
							</li>
							<li>
								<a href="#" class="Briefcase_files tooltip" title="Briefcase files">
									Briefcase files
								</a>

							</li>
							<li>
								<a href="#" class="Chart_4 tooltip" title="Chart 4">
									Chart
								</a>
							</li>
							<li>
								<a href="#" class="Clipboard_3 tooltip" title="Clipboard 3">
									Clipboard
								</a>

							</li>
							<li>
								<a href="#" class="Chart_5 tooltip" title="Chart 5">
									Chart
								</a>
							</li>
							<li>
								<a href="#" class="Glass tooltip" title="Glass">
									Glass
								</a>

							</li>
							<li>
								<a href="#" class="Globe tooltip" title="Globe">
									Globe
								</a>
							</li>
							<li>
								<a href="#" class="Mail_compose tooltip" title="Mail compose">
									Mail compose
								</a>

							</li>
							<li>
								<a href="#" class="Mail_open tooltip" title="Mail open">
									Mail open
								</a>
							</li>
							<li>
								<a href="#" class="Monitor tooltip" title="Monitor">
									Monitor
								</a>

							</li>
							<li>
								<a href="#" class="Star tooltip" title="Star">
									Star
								</a>
								<div class="clearfix"></div>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					

				</div>
 {% endblock %}