{% extends '::base.html.twig' %}

    
{% block body %}
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="response-msg {{ type }}">
                <span>Mensaje </span>
        		{{ flashMessage|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block content %}{% endblock content %}

{% endblock %}
