    <div id="sidebar">
			<div class="side-col ui-sortable">
				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">Navigation Menu</div>
					<div class="portlet-content">
						<div id="accordion">
							<div>
								<h3><a href="#">Dashboard</a></h3>
								<div>
									<ul class="side-menu">
										<li><a href="index.php" title="Administration">Administration</a></li>
										<li><a href="forms.php" title="Forms">Forms Example</a></li>
										<li><a href="tables.php" title="Tables">Tables example</a></li>
									</ul>
								</div>
							</div>
							<div>
								<h3><a href="#">Dummy drop down</a></h3>
								<div>
									<ul class="side-menu">
										<li><a href="index.php" title="Administration">Administration</a></li>
										<li><a href="forms.php" title="Forms">Forms Example</a></li>
										<li><a href="tables.php" title="Tables">Tables example</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="other-box yellow-box ui-corner-all">
					<div class="cont tooltip ui-corner-all" title="Tooltips, tooltips, tooltips !">
						<h3>Tooltip !</h3>
						<p>This is a sample tooltip !</p>
					</div>
				</div>
				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">Accordion</div>
					<div class="portlet-content">
						<div id="datepicker"></div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>