{% extends '::layout.html.twig' %}

{% block title "Nuevo Proveedor" %}
{% form_theme form 'PBInicioBundle:Form:fields.html.twig' %}
{% block content %}
<div class="title title-spacing">
					<h2>Nuevo Proveedor</h2>
</div>

          	{% include 'PBComprasBundle:Proveedor:form.html.twig' with { 'form' : form } %}
    <div class="float-left volver">
        <a href="{{ path('proveedor') }}">
          <<  {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
{% endblock %}