{% extends '::layout.html.twig' %}

{% block title "Editar Pedido Compra" %}
{% form_theme form 'PBInicioBundle:Form:fields.html.twig' %}
{% block width100 "widthtotal" %}{% block displaysidebar "display:none;" %}
{% block content %}

<div class="facturas">
<div class="title title-spacing"><h2>Editar Pedido Compra</h2></div>
       
	{% include 'PBComprasBundle:PedidoCompra:form.html.twig' with { 'form' : form } %}
	
    <div class="float-left volver">
        <a href="{{ path('compras_pedidocompra') }}">
          <<  {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>

</div>
<script>
    /* add pizzas */
    var add = function() {
        var index = $('table.invoice-lines tbody tr').length;
        var prototype = $('.prototipo').attr('data-prototype');
        var row = prototype.replace(/__name__/g, index);
        $('table.invoice-lines tbody').append(row);
        bind();
    };

    $('#addrow').live('click', function(event) {
            add();
            event.preventDefault();
    });
    $(".delete").live('click',function(){
        $(this).closest('tr').remove();
        update_total();
        if ($(".delete").length < 2) $(".delete").hide();
        event.preventDefault();
      });

    if ($('table.invoice-lines tbody tr').length === 0) {
        add();
    }

</script>
		{% include 'PBComprasBundle:Proveedor:js_get_proveedor.html.twig' %} 
{% endblock %}