{% extends '::layout.html.twig' %}

{% block title 'Pedido compra' %}

{# block width100 "widthtotal" %}{% block displaysidebar "display:none;" #}
{% block content %}
<div class="title title-spacing"><h2>Pedido Compra</h2></div>
{% include 'PBComprasBundle:PedidoCompra:vista.html.twig' with { 'entity' : entity } %}
<div class="clearfix"></div>
<div><br />
    <div class="volver float-left">
        <a href="{{ path('compras_pedidocompra') }}"> <<  {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</a></div>
    <ul class="ui-widget ui-helper-clearfix botones-abajo">
    <li class="ui-state-default ui-corner-all imprimir" style="float:left;"><a class="btn" href="{{ path('compras_pedidocompra_print', { 'id': entity.id , _format: "pdf" }) }}"><span class="ui-icon ui-icon-print"></span> Imprimir </a> </li>
    <li class="ui-state-default ui-corner-all imprimir" style="float:left;"><a class="btn" href="{{ path('compras_pedidocompra_edit', { 'id': entity.id }) }}"><span class="ui-icon ui-icon-wrench"></span> Editar </a> </li>
    </ul>
</div>
{% endblock %}