
{% block integer_widget %}
    <div class="integer_widget">
        {% set type = type|default('number') %}
        {{ block('field_widget') }}
    </div>
{% endblock %}

{% block textarea_widget %}
{% spaceless %}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock textarea_widget %}

{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    {# <div class="error-left"></div><div class="error-inner">    </div> #}
        <span class="error2">
        {% for error in errors %}
            << {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
        {% endfor %}
		</span>
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}