{% extends '::layout_ajax.html.twig' %}

{% block title "" %}
{% form_theme form 'PBInicioBundle:Form:fields.html.twig' %}

{% block content %}
	<div id="factura-form" class="facturarform">
			{% include 'PBVentasBundle:Albaran:form-facturar.html.twig' with { 'form' : form } %}
    </div>
	<div class="clearfix"></div>
{% endblock %}