{% extends '::layout.html.twig' %}

{% block title "Facturar Albaran" %}
{% form_theme form 'PBInicioBundle:Form:fields.html.twig' %}

{% block content %}
	<div id="factura-form" class="facturarform">
			{% include 'PBVentasBundle:Albaran:form-facturar.html.twig' with { 'form' : form } %}
    </div>
	<div class="clearfix"></div>
	{% include 'PBVentasBundle:Cliente:js_get_cliente.html.twig' %}
{% endblock %}