{% extends '::layout.html.twig' %}
{% block title "Nuevo Cliente" %}

{# form_theme form 'PBInicioBundle:Form:fields.html.twig' #}

{% block content %}
<div class="title title-spacing ventas">
					<h2>Albaranes</h2>
</div>  
<a class="btn ui-state-default ui-corner-all" href="{{ path('albaran_new') }}"><span class="ui-icon ui-icon-plusthick"></span>Nuevo Albaran</a></div>

{%  endblock %}