{% extends '::layout.html.twig' %}

{% block title "Nuevo Albaran" %}
{% form_theme form 'PBInicioBundle:Form:fields.html.twig' %}
{% block width100 "widthtotal" %}{% block displaysidebar "display:none;" %}
{% block content %}
<div class="title title-spacing ventas"><h2>Nuevo Albaran</h2></div>
	<div id="factura-form">
		{% if formstep == 1 %}
			{% include 'PBVentasBundle:Albaran:form1.html.twig' with { 'form' : form } %}
		{% endif %}
		{% if formstep == 2 %}
			{% include 'PBVentasBundle:Albaran:form2.html.twig' with { 'form' : form } %}
		{% endif %}
    </div>
	<div class="clearfix"></div>
    <div class="float-left volver">
        <a href="{{ path('albaran') }}">
          <<  {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
		{% include 'PBVentasBundle:Cliente:js_get_cliente.html.twig' %} 
		{% include 'PBVentasBundle:Pedido:js_get_pedido.html.twig' %} 
{% endblock %}