{% extends '::layout_ajax.html.twig' %}

{% block title "Buscador de Clientes" %}

{% block content %}
<script>
$(document).ready(function() { 
	// 
    $("a").click(function () {
    	var idprecio = $('.idprecio').html();
    	if (idprecio){
			$('#'+idprecio, window.parent.document).val(this.rel);
         } else {
        	$('.iprecio', window.parent.document).val(this.rel);
        }
        window.parent.$.prettyPhoto.close();
        return;
    })
});
</script>
<div class="buscador-precios">
    <span class="idprecio" style="display:none;">{{ rel }}</span>
    {% if error %}
    	<h2 class="errorprecios" style="color:red;">{{ error }}</h2>
    {% endif %}
    
	{% if entity != '' %}
		{% include 'PBVentasBundle:Precio:vista.html.twig' with { 'entity' : entity } %}
	{% endif %}	

</div>

{% endblock %}