{% extends '::layout.html.twig' %}

{% block title "Incrementar Precio" %}
{% block width100 "widthtotal" %}{% block displaysidebar "display:none;" %}
{% block content %}
<script>
</script>
<div class="title title-spacing ventas"><h2>Incrementar Precio</h2></div>
<div class="incrementar-precios">

</div>
    <div class="float-left volver"> <a href="{{ path('precio') }}"> <<  Cancelar </a></div>
{% endblock %}