body {
	background-color:#fff;
	font-family:Arial,Verdan,Sans-Serif;
	font-size:75%;
}

	/* Text Shadow ( CSS3 ony ) */
#navigation li a, .portlet-header, .ui-datepicker-title, .page-title h1, .ui-widget-header, .hastable thead td, .hastable thead th, #page-wrapper .other-box h3 {
	text-shadow:0 1px 0 #fff;
}

	/* Rounded corners ( CSS3 ony ) */
.ui-corner-tl {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
}

.ui-corner-tr {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
}

.ui-corner-bl {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
}

.ui-corner-br {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
}

.ui-corner-top {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
}

.ui-corner-bottom {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
}

.ui-corner-right {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
}

.ui-corner-left {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
}

.ui-corner-all, .pagination li a, .pagination span, .pagination li, #tooltip, ul#dashboard-buttons li a, .fixed #sidebar {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

	/* States and Images */
.ui-icon { 
	background-image:url(../images/icons-blue.png);
}

.ui-widget-content .ui-icon {
	background-image: url(../images/icons-blue.png);
}

.ui-widget-header .ui-icon {
	background-image: url(../images/icons-lgray.png);
}

.ui-state-default .ui-icon {
	background-image:url(../images/icons-lgray.png);
}

.ui-state-hover .ui-icon {
	background-image: url(../images/icons-gray.png);
}

.ui-state-focus .ui-icon {
	background-image: url(../images/icons-blue.png);
}

.ui-state-active .ui-icon {
	background-image:url(../images/icons-blue.png);
}

.ui-state-highlight .ui-icon {
	background-image:url(../images/icons-blue.png);
}

	/* Component containers */

.ui-widget-content {
	border: 1px solid #ddd;
	background: #fff url(../images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
	color:#444;
}

.ui-widget-header {
	border:1px solid #ddd;
	background:#ddd url(../images/ui-bg_highlight-soft_50_dddddd_1x100.png) 50% 50% repeat-x;
	color:#444;
	text-transform:uppercase;
}

.ui-widget-header a {
	color: #444;
}

	/* Interaction states */

.ui-state-default, .ui-widget-content .ui-state-default, .pagination a {
	border:1px solid #ddd;
	background:#f6f6f6 url(../images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x;
	font-weight:bold;
	color:#0073ea;
	outline:none;
}

#page-wrapper #main-wrapper #main-content .page-title h1 b, .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, #page-wrapper #main-wrapper .title h2, #lightbox-wrapper .title h2, #page-wrapper #main-wrapper .title h3, a {
	color:#0073ea;
	text-decoration:none;outline:none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .pagination a:hover, a.btn:hover, button.ui-state-default:hover {
	/*border: 1px solid #9d9d9d;*/
	background:#0073ea url(../images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x;
	color:#333;
	outline:none;
}

.ui-state-hover a, .ui-state-hover a:hover {
	color:#222;
	text-decoration:none;outline:none;
}

.ui-state-active, .ui-widget-content .ui-state-active {
	border:1px solid #ddd!important;
	background: #fff url(../images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
	font-weight:bold; color:#333;	outline:none;
}

a:hover, .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color:#333; 	outline:none;	text-decoration:none;
}

#main-content .page-title, .form-bg, #page-wrapper #sidebar .side-menu li a:hover { /* add to any div to change background color */
	background:#F9F9F9;
}

.linetop {	border-top:#c7c7c7 solid 1px; }

#header {background:url('../images/header-bg.png') repeat-x;}
#header #top-menu {	color:#646464;}

#header #top-menu a {color:#e6e6e6;}

#header #top-menu span {color:#d7d7d7;}

#header #sitename a.logo {
	color:#fff;
	background:url('../images/logo-pb.png') no-repeat;
	text-shadow:1px 1px 0 #000;
}

#header #top-menu a:hover, #header #sitename a.logo:hover {color:#b7cbdf;}

#navigation li a {
	color:#454545;
	font-weight:bold;
	border-right:#d0d0d0 solid 1px;
	border-left:#f7f7f7 solid 1px;
}

#navigation li.sfHover, #navigation li.sfHover2 {
	background:#fff;
	border-left:#b2b2b2 solid 1px;
	border-right:#b2b2b2 solid 1px;
}

#navigation li ul {
	background:#fff;
	border:#b2b2b2 solid 1px;
}

#navigation li ul li {
	border-bottom:#ccc dotted 1px;
	background:#f0f0f0;
}

#navigation li ul li a {
	color:#7c7c7c;
}

#navigation li ul li a:hover {
	color:#696969;
	background:#f7f7f7;
}

#navigation li ul li.sfHover, #navigation li ul li.sfHover2 { 
	background:#e0e0e0;
}

#navigation li ul li.sfHover a {
	color:#333;	
}

#navigation li ul li ul li a:hover {
	color:#000;
}

	/* Pages title box */

#page-wrapper #main-wrapper #main-content .page-title .other {
	color:#515151;
	border-top:#dadada dotted 1px;
}
	
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li {
	border:#fff solid 4px;
}
	
#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a {
	background-color:#f3f3f3;
	border:#dcdfe3 solid 1px;
	border-color:#dcdfe3 #d0d4d8 #d0d4d8 #dcdfe3;
	color:#666;
}

#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a:hover {
	background-color:#e4e7ea;
	border-color:#c3c9ce;
	color:#333;
}

#page-wrapper #main-wrapper #main-content .page-title .other ul#dashboard-buttons li a:active {
	border-color:#9d9d9d;
}
#page-wrapper #main-wrapper .title, #lightbox-wrapper .title, #page-wrapper #sidebar .side-menu li {
	color:#616161;
	border-bottom:#8f8f8f dotted 1px;
}

.ui-sortable-placeholder {
	background:#ffffcc;
}

#page-wrapper #sidebar {
	background:#f4f4f4;
	border-color:#d0d0d0;
}

.red {color:red;}
#footer {border-top:#e3e3e3 solid 6px;background:#4c4c4c;color:#c1c1c1;}
#footer #menu a {color:#fff;}
#footer #menu a:hover {text-decoration:underline;}

/* span colocar formularios */
.form-invoice{
	margin-bottom:15px;
	float:left;
}
div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24, div.span-25, div.span-26, div.span-27, div.span-28, div.span-29, div.span-30, div.span-31, div.span-32, div.span-33, div.span-34, div.span-35, div.span-36, div.span-37 {
    float: left;
    min-height: 1px;
}
.span-1 { width: 20px; }
.span-2 { width: 40px; }
.span-3 { width: 60px; }
.span-4 { width: 80px; }
.span-5 { width: 100px; }
.span-6 { width: 120px; }
.span-7 { width: 140px; }
.span-8 { width: 160px; }
.span-9 { width: 180px; }
.span-10 { width: 200px; }
.span-11 { width: 220px; }
.span-12 { width: 240px; }
.span-13 { width: 250px; }
.span-14 { width: 280px; }
.span-15 { width: 300px; }
.span-16 { width: 320px; }
.span-17 { width: 340px; }
.span-18 { width: 360px; }
.span-19 { width: 380px; }
.span-20 { width: 400px; }
.span-21 { width: 420px; }
.span-22 { width: 440px; }
.span-23 { width: 460px; }
.span-24 { width: 480px; }
.span-25 { width: 500px; }
.span-26 { width: 520px; }
.span-27 { width: 540px; }
.span-28 { width: 560px; }
.span-29 { width: 580px; }
.span-30 { width: 600px; }
.span-31 { width: 620px; }
.span-32 { width: 640px; }
.span-33 { width: 660px; }
.span-34 { width: 680px; }
.span-35 { width: 700px; }
.span-36 { width: 720px; }
.span-37 { width: 740px; }
.span-38 { width: 760px; }
.span-39 { width: 780px; }
.span-40 { width: 800px; }

.form-horizontal .control-group:after { clear: both; }
/*
.form-horizontal .control-group:before, .form-horizontal .control-group:after {
    content: "";
    display: table;
}*/
.form-horizontal .control-label {
    float: left;
    line-height: 18px;
    padding-right: 10px;
    text-align: right;
    width: 100px;
    font-size:13px;
}
.controls span { font-size: 13px; padding: 5px;}
.label-column-small .control-label {
    width: 90px;
}
.nombre-cliente, .nombre-proveedor, .nombre-comercial{
	color:#333;
	font-weight:bold;
}
.nombre-comercial {padding-top:3px;}
.nombre-cliente .error-nombre, .nombre-proveedor .error-nombre{
	color:red;
}
.form-horizontal .codigo{
	font-size:14px;
	padding:1px;
}

/* inovices pedidoscompra albaranes */
.facturas {}
#invoice-lines{
	font-size:12px;
}
table.spreadsheet {
    border-left: 1px solid #CCCCCC;
    border-spacing: 0;
    width: 100%;
    font-family: Verdana;
}

table.spreadsheet td {
    border-bottom: 1px solid #E5E5E5;
    border-right: 1px solid #CCCCCC;
    padding: 0px 6px 0px 0;
    text-align: left;
    vertical-align: top;
}
table.spreadsheet td.sininput span{
	padding:7px 3px; float:left;
}
table.spreadsheet td:hover { background-color:#F9F9F9; }
table.spreadsheet thead th.first-column, table.spreadsheet td.action-buttons {
    border: 0 none; padding: 0; width: 0;
}
/*table.spreadsheet td span{ float:left; padding:6px;} */
table.spreadsheet th {
	background-color: #E6E6E6;
    text-shadow: 0 1px 0 #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
    border-left: 0 none;
    border-top: 1px solid #CCCCCC;
    color: #616161;
	    font-weight: bold; font-size: 11px;
    line-height: 18px;
    padding: 4px 5px;
    text-align: left;
}
table.spreadsheet th.last {
    border-right: 1px solid #CCCCCC;
}
body .index thead th, body .index thead a, body .index thead .no-sort, .container .reports_currency th a, .container .report thead a, .container .report thead th, .container .report thead .no-sort, .container .report tbody.header a, .container .report tbody.header .no-sort, .container table.spreadsheet th, ul.permissions li.enabled {
    background-color: #0D83DD;
    color: #FFFFFF;
}
table.spreadsheet td.first-column {
    padding-left: 1px;
}
.first-column {
    padding-left: 5px;
    white-space: nowrap;
}
table.spreadsheet select, table.spreadsheet input, table.spreadsheet textarea, .observaciones textarea{
	font-family: Verdana;
	font-size: 12px;
	line-height: normal;
	margin:0;
	padding:6px 3px;
}
table.spreadsheet textarea, table.spreadsheet textarea:hover, table.spreadsheet textarea:focus {
    padding-left: 5px;
}
table.spreadsheet textarea, table.spreadsheet textarea:hover {
    background-color: transparent;
    border: 0 none;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    resize: none;
    width: 100%;
}
table.spreadsheet input, table.spreadsheet input:hover {
    border: 0 none; background-color: transparent;
    font-size: 12px; line-height: 18px;
    margin: 0; width: 100%;
}
input[type="text"], input[type="password"], textarea, select {
    border-color: #ABADB3 #DBDFE6 #E3E9EF #E2E3EA;
    border-style: solid;
    border-width: 1px;
}
.ta_right { text-align: right; }
.icono-poner-precio{ padding-top:5px;margin:0;float:right;}
.spreadsheet td.total, .spreadsheet .total:hover {
    background-color: #F0F0F0;
    padding-left: 0;
    font-weight:bold;
    font-size:13px;
    text-align: right;
}
.spreadsheet td.total span{
	margin-top:7px; float:right; font-size: 12px;
}
table.spreadsheet input:focus, table.spreadsheet textarea:focus{
	background-color:#FFF8D5;
	border: 0 none;
	outline: 0 none;
}
.totals {
    margin-bottom: 22px;
        color: #000000;
    font-family: Verdana,sans-serif;
    font-size: 12px;
    line-height: 18px;
}
.totals .rule.top {
    clear: both;
    margin-top: -1px;
}
.totals .rule {
    background-color: #E5E5E5;
    border: 1px solid #CCCCCC;
    height: 1px;
    overflow: hidden;
}
.actions {
    clear: both;
    font-size: 11px;
    line-height: 18px;
    padding: 10px 5px 0px;
}
.actions li {
	padding: 3px 3px;
}
.actions a{
	color: #333 !important;
	margin:0 5px;
	font-weight:normal;
	
}
.actions.spreadsheet ul {
    padding: 0;
}
.actions .dropdown-button {
    background-image: none;
    height: 22px;
    padding-left: 0;
    position: relative;
}
.delete-wrap {
    position: relative;
}
.delete {
    background-image: url(../images/delete.gif);background-repeat:no-repeat;
    cursor: pointer;
    color: #000000;
    display:none;
    display: block;
    left: -22px;
    width:16px;height:16px;
    padding: 0 3px;
    position: absolute;
    text-decoration: none;
    top: -20px;
}

.totals .box {
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    float: right;
    margin-top: -1px;
    width: 280px;
}
.totals .table-totals {
    width: 100%;
}
.totals .table-totals th {
    font-weight: normal;
    text-align: left;
}
div.totals .table-totals td, div.totals .table-totals th {
    border: 0 none;
    margin: 0;
    vertical-align: top;
}
tr#amount-row td, tr#amount-row th, #subtotal-row td, #subtotal-row th {
    padding-top: 9px;
}
div.totals td.last-column {
    padding-right: 3px;
    text-align: right;
}
div.totals td.last-column {
    padding-right: 3px;
    text-align: right;
}
div.totals .table-totals tr.divider td, div.totals .table-totals tr.divider th {
    padding: 9px 0 0;
}
div.totals .table-totals tr.divider div {
    background-color: #E2E2E2;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    height: 1px;
    overflow: hidden;
}
div.totals tr.invoice-total-box td, div.totals tr.invoice-total-box th {
    background-color: #F0F0F0;
    border-top: 1px solid #CCCCCC;
    font-weight: bold;
    padding-bottom: 10px;
    padding-top: 10px;
}
div.totals .table-totals #paid-row td, div.totals .table-totals #paid-row th, .table-totals .last {
    padding-bottom: 9px;
}
div.totals .observaciones label{
  float:left;
  color: #666;
  margin-bottom:4px;	
}
div.totals .observaciones textarea{
  float:left;
}
div.totals textarea:focus{
		background-color:#FFF8D5;
}
/* Pedido Compra */
#pedido-compra-ver {
   /* border: 1px solid #E1E1E1; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);  padding: 54px 40px 72px;   position: relative;   z-index: 0;*/
	color:#666666;
	font-size: 13px;
}
#pedido-compra-ver table {
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    line-height: 21.5px;
    margin-bottom: 10px;
    overflow: hidden;
}
#pedido-compra-ver table td, #pedido-compra-ver table th  {
   /* border-right: 1px solid #DDDDDD;*/
    border-bottom: 1px solid #DDDDDD;
    padding: 4px 6px;
}

#pedido-compra-ver table .label3 {
    background: none repeat scroll 0 0 #F7F7F7;
    color: #666666;
    font-size: 12px;

}
#pedido-compra-ver #cab-lineas {
	margin:0;
	box-shadow: none;
	border-bottom: none;
	width:100%;
	margin-top:10px;
}
#pedido-compra-ver #cab-lineas td{

	display: table-cell;
}
#pedido-compra-ver #totales{
	width:70%;
	float:right;
}
#pedido-compra-ver #obs{
	width:60%;
}
#pedido-compra-ver #obs p{
	font-size:13px; padding:0;
}
#albaran-ver #cab-lineas{
	font-size:12px;
}
#albaran-ver #cab-lineas .label3{
	font-size:11px;
}
/**
* Estados 
**/
#pedido-compra .estadoc, #pedido .estadoc {
	border-radius: 3px 3px 3px 3px;
    color: #333333;
   /* font-family: Monaco,Menlo,Consolas,"Courier New",monospace;*/
    font-size: 11px;
    color: #FFFFFF;
    padding: 1px 3px;
}
#pedido-compra .estado1{ /* Enviado */
	border: 1px solid #a6a6a6;
	background-color:#a6a6a6;
}
#pedido-compra .estado2{ /* Recibido OK */
	background-color:#5aa064;
	border: 1px solid #5aa064;
}
#pedido-compra .estado3{ /* Recibido con Errores */
	background-color:#d18578;
	border: 1px solid #d18578;
}
#pedido-compra .estado4{ /* Rechazado */
	background-color:#f2634b;
	border: 1px solid #f2634b;
}
#pedido .estado1{ /* Nuevo */
		border: 1px solid #a6a6a6;
	background-color:#a6a6a6;
}
#pedido .estado2{ /* En Fabrica */
	border: 1px solid #6e90c9;
	background-color:#6e90c9;
}
#pedido .estado3{ /* Finalizado */
	border: 1px solid #5aa064;
	background-color:#5aa064;
}
#pedido .estado4{ /* Facturado */
	border: 1px solid #e28f8f;
	background-color:#e28f8f;
}
#pedido .estado8{ /* Histórico */
	border: 1px solid #616160;
	background-color:#616160;
}

/** precios */
#precios{
	
}
#precios table{
    border: 1px solid #ccc;
    border-collapse: collapse;
    border-spacing: 0;
    margin-top:20px;
}
#precios caption{
    /*background-color: #FFCCCC;*/
    color: #af8f8f;
    font-size: 12px;
    font-weight: bold;
    padding:4px;
    text-align:center;
}
#precios table td{
	border-bottom: 1px solid #E5E5E5;
    border-right: 1px solid #CCCCCC;
    padding: 0 6px 0 0;
    text-align: left;
    vertical-align: top;
}
#precios .primeralinea{
    background-color: #E6E6E6;
    border-bottom:0 none; border-right: 0 none;
    border-left: 0 none;
    border-top: 1px solid #CCCCCC;
    color: #616161;
    font-weight: bold;
    line-height: 18px;
    padding: 4px 5px;
    text-align: left;
    text-shadow: 0 1px 0 #FFFFFF;
}
#precios table input, #precios table input:hover {
    border: 0 none;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    width: 100%;
}
#precios .camiseta-impresa, #precios .medidases, #precios .invoice-lines{
	width:600px;
}
.vista-precios table td span{
	padding: 6px;
	float:left;
}
.totals .nuevo-pedido{
	float:left;
	margin-top:10px;
}
.totals .nuevo-pedido li {
	float:left;
	width: 110px;
}
.totals .nuevo-pedido input{
	width:80px; margin:0;
	height:15px;
	padding:4px;
}
.totals .error-pedido{
	color: red;
	padding:8px 0;
}
.btn2 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #E9E9E9 #E9E9E9 #D0D0D0;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.btn2:hover, .btn2:active, .btn2.active, .btn2.disabled, .btn2[disabled] {
    background-color: #E6E6E6;
    color: #333333;
}
.btn2-mini{
	border-radiux: 3px;
	font-size: 11.5px;
	padding: 1px 6px;
}
.btn2-facturar.active {
    color: rgba(255, 255, 255, 0.75);
}
.btn2-facturar {
    background-color: #4AB0CE;
    background-image: linear-gradient(to bottom, #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn2-fabricar {
    background-color: #94559F;
    background-image: linear-gradient(to bottom, #d179e0, #94559F);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn2-facturar:hover, .btn2-facturar:active, .btn2-facturar.active, .btn2-facturar.disabled, .btn2-facturar[disabled],
.btn2-fabricar:hover, .btn2-fabricar:active, .btn2-fabricar.active, .btn2-fabricar.disabled, .btn2-fabricar[disabled] {
	background-color: #2F96B4;
    color: #FFFFFF;
}
.facturarform .form-container {
	/* width:550px !important; */
}
.form-producto .control-group label{
	width:140px;
}
.form-almacen .control-group label{
	width:100px;
}
#ver-producto table td {
	padding:8px 2px;
	font-size: 14px;
}
#ver-producto .labelpro{
	color:#666;
	width:140px;
	font-size:13px !important;
}

/* albaran compra */
.procesar-materiales{
	width: 780px;
}
.procesar-materiales .records_list {
	width: 720px;
	margin: 25px auto;
}
.procesar-materiales .form-horizontal .control-group {
    margin-bottom: 8px;
    padding-top: 2px;
}
.procesar-materiales .guardar button{
	margin-left:10px;
}
.recibir-materiales .sininput{
	font-size: 11px;
}

/** ORDEN de Fabricacion */
.orden .ui-widget-content { background-color: #EFEFEF !important;
border: 1px solid #CDCDCD; }
.orden .ui-widget-content label{ font-weight:normal !important; color: #666; text-shadow: 0 1px 0 #FFFFFF; }
.orden{font-size: 12px;}
.orden input {margin:0;}
.tabla4 { height: 80px;}
.tabla4 th { padding-left: 5px; padding:0; vertical-align: middle;}
.tabla4 td { padding:0 12px !important; vertical-align: middle; }
.tabla4 label, .tabla4  input[type="radio"]{ margin-left: 9px; display: inline !important;color: #666; text-shadow: 0 1px 0 #FFFFFF;}

table.tabla5 { width: 100%; border-collapse: collapse; margin-bottom: 20px;}
.tabla5 th{background-color: #EFEFEF;
    border: 1px solid #CDCDCD;
    color: #666;
    font-size: 13px;
    line-height: 18px;
    padding: 7px 9px;
    text-align: left;
    text-shadow: 0 1px 0 #FFFFFF;}
.tabla5  td {
    border: 1px solid #CCCCCC;
    font-size: 13px;
    padding: 8px 10px; }
.tabla5-form td{
	padding: 1px 2px !important; margin:0 !important;;
}
.tabla5 label, .tabla5 input[type="radio"] {
    display: inline !important;
    margin-left: 4px;
}
.ui-widget h4 {
	color: #0045AA;
	font-size: 14px; font-weight: bold;
	margin: 15px 0;
	border-bottom: 1px dotted #676789;
}
.widget-box {
    /*background: none repeat scroll 0 0 #F9F9F9;*/
    border-left: 1px solid #CDCDCD;
    border-right: 1px solid #CDCDCD;
    border-top: 1px solid #CDCDCD;
    clear: both;
    margin-bottom: 16px;
    margin-top: 16px;
    position: relative;
}
.widget-title {
    background-color: #EFEFEF;
    border-bottom: 1px solid #CDCDCD;
    height: 36px;
}

.collapse {
    height: 0;
    overflow: hidden;
    position: relative;
    transition: height 0.35s ease 0s;
}

.collapse.in {
    height: auto;
}
.widget-title span.icon {
    border-right: 1px solid #CDCDCD;
    float: left;
    opacity: 0.7;
    padding: 9px 10px 7px 11px;
}
.widget-title h5 {
    color: #666666;
    float: left;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    margin: 0;
    padding: 12px;
    text-shadow: 0 1px 0 #FFFFFF;
}
.widget-box.collapsible .collapse.in .widget-content {
    border-bottom: 1px solid #CDCDCD;
}
.widget-content {
    border-bottom: 1px solid #CDCDCD;
    padding: 12px 15px;
}

[class^="icon-"], [class*=" icon-"] {
    background-image: url("../images/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}
.icon-circle-arrow-right {
    background-position: -240px -144px;
}