{% extends '::layout.html.twig' %}

{% block title "Produccion" %}

{% block content %}
<div class="title title-spacing produccion"><h2>Maquinaria</h2></div>
<div id="maquinaria" class="vista3">
	<div class="contenttitle2"><h3>Extrusión</h3></div>
		<table>
			<thead>
			  <tr>
				<th style="width:120px;">Código de Máquina</th>
				<th>Descripción</th>
			  </tr>
			</thead>
			<tbody>
		      <tr>
		        <td><b>E1</b></td>
		        <td>IBAÑEZ</td>
		      </tr>
		      <tr>
		        <td><b>E2</b></td>
		        <td>COVEX 75</td>
		      </tr>
		      <tr>
		        <td><b>E3</b></td>
		        <td>COREANA I</td>
		      </tr>
		      <tr>
		        <td><b>E4</b></td>
		        <td>COREANA II</td>
		      </tr>
		      <tr>
		        <td><b>E5</b></td>
		        <td>COVEX 60</td>
		      </tr>
			</tbody>
		</table>
	<div class="contenttitle2"><h3>Impresión</h3></div>
			<table>
			<thead>
			  <tr>
				<th style="width:120px;">Código de Máquina</th>
				<th>Descripción</th>
			  </tr>
			</thead>
			<tbody>
		      <tr>
		        <td><b>I1</b></td>
		        <td>GIAVE 800 I</td>
		      </tr>
		      <tr>
		        <td><b>I2</b></td>
		        <td>GIAVE 1200</td>
		      </tr>
		      <tr>
		        <td><b>I3</b></td>
		        <td>GIAVE 1000</td>
		      </tr>
		      <tr>
		        <td><b>I4</b></td>
		        <td>GIAVE 800 II</td>
		      </tr>
			</tbody>
		</table>
	<div class="contenttitle2"><h3>Corte</h3></div>
				<table>
			<thead>
			  <tr>
				<th style="width:120px;">Código de Máquina</th>
				<th>Descripción</th>
			  </tr>
			</thead>
			<tbody>
		      <tr>
		        <td><b>C1</b></td>
		        <td>COEMTER 1100</td>
		      </tr>
		      <tr>
		        <td><b>C2</b></td>
		        <td>COEMTER 810</td>
		      </tr>
		      <tr>
		        <td><b>C3</b></td>
		        <td>ARVOR</td>
		      </tr>
		      <tr>
		        <td><b>C4</b></td>
		        <td>MAC 800</td>
		      </tr>
		      <tr>
		        <td><b>C5</b></td>
		        <td>MAC 810</td>
		      </tr>
		      <tr>
		        <td><b>C6</b></td>
		        <td>MAC 1100</td>
		      </tr>
		      <tr>
		        <td><b>C7</b></td>
		        <td>COEMTER ROLLO</td>
		      </tr>
			</tbody>
		</table>
	<div class="contenttitle2"><h3>Rebobinadoras</h3></div>
	<table>
			<thead>
			  <tr>
				<th style="width:120px;">Código de Máquina</th>
				<th>Descripción</th>
			  </tr>
			</thead>
			<tbody>
		      <tr>
		        <td><b>R1</b></td>
		        <td>GIAVE 1300</td>
		      </tr>
		      <tr>
		        <td><b>R2</b></td>
		        <td>GIAVE RG 160</td>
		      </tr>
		      <tr>
		        <td><b>R3</b></td>
		        <td>MPC</td>
		      </tr>
		      	</tbody>
		</table>
</div>

{% endblock %}