{% extends '::layout.html.twig' %}

{% block title "Produccion" %}

{% block content %}
<div class="title title-spacing produccion"><h2>Orden de Fabricación</h2></div>
<div class="vista3 orden">
	<div class="span-16 columnas2">
	</div>
	<div class="span-20 columnas2">
		<table cellspacing="0" cellpadding="0" class="table invoicefor">
               	  <tbody><tr>
                   	  <th width="30%">Cliente</th>
                      <td width="70%"><b>GREGORIO RODRIGUEZ CORROCHANO</b></td>
                  </tr>
               	  <tr>
               	    <th>Fecha</th>
               	    <td>22/01/2013</td>
           	    </tr>
                 <tr>
               	    <th>Subcliente</th>
               	    <td>PANADERIA LOS ARCOS</td>
           	    </tr>            
           </tbody>
         </table>
	</div>
	<div class="span-21">
		<table cellspacing="0" cellpadding="0" class="">
           	  <tbody><tr>
                   	  <th width="20%"><b>Cantidad</b></th>
                      <td width="80%"> <input type="text" size="10" name="cantidad" /> <input type="radio" name="cantidaduni" value="1" /> Bolsas
                      																	<input type="radio" name="cantidaduni" /> Kg
                      																	<input type="radio" name="cantidaduni" /> Metros</b></td>
                  </tr>
               	  <tr>
               	    <th>Espesor</th>
               	    <td><input type="text" size="10" name="espesor" /><input type="radio" name="espesoruni" /> Galgas<input type="radio" name="espesoruni" /> Micras </td>
           	    </tr>           
           </tbody>
         </table>
    </div>
    <div class="span-15" style="margin-left:10px;">
		<table cellspacing="0" cellpadding="0" class="table">
           	  <tbody><tr>
                   	  <th width="30%">Material</th>
                      <td width="70%"> <select name="material"><option value="">Bp.Opaco</option></select></tr>
               	  <tr>
               	    <th>Producto</th>
               	    <td><select name="producto"><option value="">Bobinas</option><option value="">Bolsas</option><option value="">Lamina</option></select></tr> </td>
           	    </tr>           
           </tbody>
         </table>
    </div>
    <div class="clearfix"></div><br />
   		<div class="contenttitle2"><h3>Extrusión</h3> <input type="checkbox" name="extrusion" /></div>
		<table cellspacing="0" cellpadding="0" class="tabla4" style="width:350px;">
			 <tr>
				<th style="width:120px;"><b>Color</b></th>
				<td><input type="text" name="color" /></td>
			  </tr>
			  <tr>
		        <th><b>Ancho</b></th>
		        <td><input type="text" name="ancho" /></td>
		      </tr>
			<tr>
		        <th><b>Galga</b></th>
		        <td><input type="text" name="galga" /></td>
		      </tr>
		      <tr>
		        <th><b>Plegado</b></th>
		        <td><input type="text" name="plegado" /></td>
		      </tr>
		      <tr>
		        <th><b>Bobinas</b></th>
		        <td><input type="text" name="bobinas" /></td>
		      </tr>
		      <tr>
		        <th><b>Peso Teórico</b></th>
		        <td><input type="text" name="pesoteorico" /></td>
		      </tr>
		      <tr>
		        <th><b>Tipo Tubo</b></th>
		        <td><select name="tipotubo" /><option value="">Tubo</option><option>Semitubo</option><option>Lamina</option></select></td>
		      </tr>
		      <tr>
		        <th><b>Tratado</b></th>
		        <td><select name="tipotubo" /><option value="">Sin tratar</option><option>2 Caras</option><option>1 Cara</option></select></td>
		      </tr>
		      <tr>
		        <th>Observaciones</th>
		        <td><input type="text" name="notasextrusion" /></td>
		      </tr>
		</table>
	</div>
	<!--
		<div id="accordion">
					<div>
						<h3><a href="#">EXTRUSION</a></h3>
						<div>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</div>
					</div>
					<div>
						<h3><a href="#">IMPRESION</a></h3>
						<div>Phasellus mattis tincidunt nibh.</div>
					</div>
					<div>
						<h3><a href="#">CORTE</a></h3>
						<div>Nam dui erat, auctor a, dignissim quis.</div>
					</div>
				</div>
	  -->
{% endblock %}