{% extends '::layout.html.twig' %}

{% block title 'Pedido Cliente' %}

{# block width100 "widthtotal" %}{% block displaysidebar "display:none;" #}
{% block content %}
<div class="title title-spacing ventas"><h2>Pedido Cliente</h2></div>
<div id="pedido-ver">
{% include 'PBVentasBundle:PedidoCliente:vista.html.twig' with { 'entity' : entity } %}
</div>
<div class="clearfix"></div>
<div><br />
    <div class="volver float-left">
        <a href="{{ path('pedidocliente') }}"> <<  {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</a></div>
    <ul class="ui-widget ui-helper-clearfix botones-abajo">
    <li class="ui-state-default ui-corner-all imprimir" style="float:left;"><a class="btn" href="{{ path('pedidocliente_print', { 'id': entity.id , _format: "pdf" }) }}"><span class="ui-icon ui-icon-print"></span> Imprimir </a> </li>
    <li class="ui-state-default ui-corner-all editar" style="float:left;"><a class="btn" href="{{  path('pedidocliente_edit', { 'id': entity.id }) }}"><span class="ui-icon ui-icon-wrench"></span> Editar </a> </li>
    <li class="ui-state-default ui-corner-all MAIL" style="float:left;"><a class="btn iframe-mail" href="{# path('pedidocliente_mail', { 'id': entity.id }) #}"><span class="ui-icon ui-icon-mail-closed"></span> Enviar por e-mail </a> </li>
    
    </ul>
</div>
{% endblock %}