{% extends '::layout.html.twig' %}

{% block title "Nueva Incidencia" %}
{% form_theme form 'PBInicioBundle:Form:fields.html.twig' %}
{% block width100 "widthtotal" %}{% block displaysidebar "display:none;" %}
{% block content %}
<div class="incidencias">
<div class="title title-spacing calidad"><h2>Nueva Incidencia</h2></div>
          	{% include 'PBCalidadBundle:Noconformidad:form.html.twig' with { 'form' : form } %}
      <br /> <div class="clearfix"></div>  
    <div class="float-left volver">
        <a href="{{ path('noconformidad') }}">
          <<  {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>

</div> 
{% endblock %}