{% extends '::layout.html.twig' %}

{% block title "Ventas" %}
{% block content %}
<div class="title title-spacing ventas"><h2>Presupuesto</h2></div>
<div id="presupuesto" class="vista3">
	<div class="span-18 columnas2">
		<div class="invoice_logo"><img alt="" src="{{ asset('images/pb3.png') }}"></div><br />
		<table cellspacing="0" cellpadding="0" class="table invoicefor">
               	  <tbody><tr>
                   	  <td width="30%">Cliente:</td>
                      <td width="70%"><strong>GREGORIO RODRIGUEZ CORROCHANO</strong></td>
                  </tr>
               	  <tr>
               	    <td>Teléfono:</td>
               	    <td>925 85 78 45</td>
           	    </tr>
                 <tr>
               	    <td>Dirección:</td>
               	    <td>Localidad</td>
           	    </tr>            
               	  <tr>
               	    <td>Teléfono:</td>
               	    <td>925 85 78 45</td>
           	    </tr>
                	<tr>
                	  <td>Email:</td>
                	  <td>gcorrochano@gcorrochano.com</td>
              	  </tr>
              </tbody>
         </table>
	</div>
	<div class="span-18 last">
            <table cellspacing="0" cellpadding="0" class="table">
               	  <tbody><tr>
                   	  <td width="30%">De:</td>
                      <td width="70%">
                      	<strong>Plásticos Baltasar, S.A.</strong> <br>
                        C/ Las Viñas, 41 <br>
                        45710 Madridejos TOLEDO <br>
                        Telf: 925 46 16 99 <br>
                        Email: plasticosbaltasar@gmail.com
                      </td>
                  </tr>
              </tbody></table>
           	  <br />
              <table cellspacing="0" cellpadding="0" class="table invoiceinfo">
               	  <tbody><tr>
                   	  <td width="30%">Presupuesto:</td>
                      <td width="70%"><strong>P0001</strong></td>
                  </tr>
               	  <tr>
               	    <td>Fecha:</td>
               	    <td><strong>21.12.2012</strong></td>
           	    </tr>
                	<tr>
                	  <td>Pedido:</td>
                	  <td><strong>PAnaderia </strong></td>
              	  </tr>
              	 <tr>
               	    <td>Localidad:</td>
               	    <td>Madridejos</td>
           	    </tr>
           	    <tr>
               	    <td>Teléfono:</td>
               	    <td>925 46 05 98</td>
           	    </tr>
              </tbody></table>
            </div>
</div>

<div class="clearfix"></div>
{% endblock %}
